/* your css code! */

.labelForRadio {
    font-weight: normal !important;
    cursor: pointer;
}

#numSolicMatrizContainer {
    margin: 10px 0px 10px 0px;
}

.hdata, .presencaData {
    display: none;
}

.datas .col-md-2 {
    width: 19%;
}